{:request-time 1967,
 :repeatable? false,
 :protocol-version {:name "HTTP", :major 1, :minor 1},
 :streaming? true,
 :chunked? true,
 :reason-phrase "OK",
 :headers
 {"Transfer-Encoding" "chunked",
  "Content-Type" "application/json; charset=utf-8",
  "x-aml-ta-request-id" "2c16a0e7-0924-4635-81fc-6e7c9a780e07",
  "X-Content-Type-Options" "nosniff",
  "apim-request-id" "11636198-1ee9-40bf-8aa3-0603777c2a9b",
  "Strict-Transport-Security" "max-age=31536000; includeSubDomains; preload",
  "Date" "Tue, 25 Oct 2016 14:49:30 GMT",
  "Connection" "close"},
 :orig-content-encoding nil,
 :status 200,
 :length -1,
 :body
 "{\"status\":\"Running\",\"createdDateTime\":\"2016-10-25T14:47:43Z\",\"operationType\":\"topics\"}",
 :trace-redirects
 ["https://westus.api.cognitive.microsoft.com/text/analytics/v2.0/operations/f999c42315034ffcb0874b877cb2019b"]}
